DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'parking',
        'HOST': 'db',
        'PASSWORD': '<password>',
	    'CONN_MAX_AGE': 60,
    }
}

BOT_TOKEN = "773453069:AAG8h0EdJdjsIh6IFTHp7UrU-eh209pd8s0"